

table {
    border: 1px solid;
    width: 100%;
    background-color: #1f2933;
    color: #D6CFC7;
    margin-top: 50px;
    text-align: center;
}
tr, td, th {
    border: 1px solid;
    padding: 10px;
}
tr td:first-child {
    width: 300px;
    background-color: #4e3521;
}
th {
    background-color: #A47148;
}
tr td {
    background-color: #6f4E37;
}
tr td:hover {
    color: #1f2933;
    background-color: #A47148;
}