* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
  margin: 0 auto;
}
.container {
  padding: 0 0;
  width: 100%;
}
.container img {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header {
  background-color: #325472;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #254159;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.4rem;
  color: #254159;
  margin-bottom: 10px;
}
h2 {
  font-size: 2rem;
  color: #254159;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.8rem;
  color: #254159;
  margin-bottom: 20px;
  padding-top: 10px;
}
h4 {
  font-size: 1.6rem;
  color: #385874;
  margin-bottom: 10px;
  padding-top: 10px;
}
p {
  margin-bottom: 10px;
  line-height: 1.4;
}
img {
  /* responsivo */
  max-width: 100%;
  height: auto;
}
ol {
  margin-left: 20px;
}
ol li {
  color: #454545;
  font-size: 1.4rem;
}
section {
  font-size: 1.5rem; /* equivalente a 15px */
  padding: 20px 0;
  display: flex;
  background-color: #ffffff;
}
section nav {
  width: 30%;
  padding-left: 30px;
}
nav li {
  margin: 5px 20px 5px 0;
  padding: 10px;
  background-color: #efefef;
}
nav li:hover {
  background-color: #dfdfdf;
}
nav a {
  text-decoration: none;
  color: #254159;
}
nav a:hover {
  color: #385874;
}
article {
  width: 70%;
  display: block;
  float: left;
}
footer {
  background-color: #254159;
  display: block;
  float: left;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}
footer p {
  color: #ffffff;
  font-size: 1.4rem;
}
footer small {
  font-size: 80%;
  display: block;
}
.cog-branding,
.cog-branding__powered,
.cog-branding--minimal {
  display: none !important;
}
.cog-abuse,
.codg-abuse_powered,
.cog-branding--minimal {
  display: none !important;
}
.cog-form__content,
.cog-form__content_powered,
.cog-form__content--minimal {
  background-color: #d1dae2 !important;
}
#tenho-interesse {
  background-color: #d1dae2;
  width: 100%;
}
#tenho-interesse {
  display: flex;
  justify-content: center;
}
#tenho-interesse .cog-heading,
.cog-label {
  color: #254159 !important;
}
#banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vw;
}
.legenda-container {
  float: right;
  margin: 10vh 10vh 0 0;
  width: 30vw;
}
.legenda {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5rem;
}
.legenda h5,
.legenda h4 {
  color: #254159;
  line-height: 1.5rem;
}
.button-cta {
  border-radius: 25px;
  display: inline;
  background-color: orangered;
  color: #fff;
  box-shadow: 1px 1px 4px #454545;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 20px 20px;
  width: auto;
  text-decoration: none;
  font-weight: 300;
  float: left;
}
#saiba-mais {
  background-color: #eaeff3;
  padding: 40px 0px;
}
#saibamais p,
#saiba-mais img {
  width: 45%;
  display: block;
  float: left;
  padding: 20px;
}
dl {
  margin: 20px 0;
}
dt {
  font-weight: 900;
  font-size: 1.6rem;
  color: #254159;
}
dd {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.button-cta-2 {
  border-radius: 25px;
  display: inline;
  background-color: orangered;
  color: #fff;
  box-shadow: 1px 1px 4px #454545;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 10px 15px;
  width: auto;
  text-decoration: none;
  font-weight: 300;
  float: rightLEFT;
}
.container-duvida {
    width: 70%;
    margin: 0 auto;
}
.duvida h1 {
line-height: 70px;
}
.container-2 {
  padding: 50px 0;
  width: 100%;
  float: right;
  background-color: #9bc0e2 !important;
}
.duvida dd{
line-height: 30px;
}
/* MEDIA QUERIES */
@media (min-width: 481px) and (max-width: 1024px) {
  section,
  img,
  section nav,
  section article {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: block;
  }
  section nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0;
    padding: 0;
  }
  section nav li {
    margin: 1rem;
    padding: 30px;
  }
}
@media (max-width: 480px) {
  section,
  img,
  section nav,
  section article {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: block;
  }
  section nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 1;
    padding: 0;
  }
  section nav li {
    margin: 1px;
    padding: px;
  }
}
 /* * {
  outline: 1px solid red;
}    */
